@import url('styles.css');

/* ============ utilities ============ */
.mt-1{
  margin-top: 1rem;
}

.mb-5{
  margin-bottom: 5rem;
}


/* ============ service section ============ */
.service-page{
  display: flex;
  flex-direction: column;
  margin: 15rem 5rem 0;
}

.service-page-title{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.service-page-title h1{
  font-size: 4.8rem;
  font-weight: 700;
  width: 90.9rem;
}

.service-page-title p{
  font-size: 2.4rem;
  width: 73rem;
  text-align: justify;
  text-justify: inter-word;
  opacity: 0.7;
}

.service-page-container{
  display: flex;
  flex-direction: column;
}

.service-features{
  display: flex;
  margin-top: 5rem;
  gap: 5rem;
}

.service-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-stat{
  margin-bottom: 5rem;
}

.service-stat div{
  display: flex;
  gap: 2rem;
  align-items: end;
  margin-bottom: 1.4rem;
}

.service-stat div i{
  font-size: 3.2rem;
  color: var(--accent);
}

.service-stat div h4{
  font-size: 3.2rem;
  font-weight: normal;
}

.service-stat p{
  font-size: 2.4rem;
  opacity: .9;
  text-align: justify;
  text-justify: inter-word;
}

.service-features img{
  height: 50.5rem;
  width: 120rem;
}