/* ============ custom properties ============ */
:root{
  /* colors */
  --accent: #556ff6;
  --black: #242424;
  --gray: #e0e0e0;


  --primary--font-family: "Roboto", sans-serif;
}


/* ============ Global reset styles ============ */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--primary--font-family);
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.2;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

a{
  color: unset;
  text-decoration: none;
}

h1{
  font-size: 3.2rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 1.872rem;
}
@media screen and (min-width: 768px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3rem;
  }
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.328rem;
}

h6{
  font-size: 1.072rem;
}

small{
  font-size: 1.28rem;
}

/* ============ utilities ============ */
.mb-4{
  margin-bottom: 4rem;
}

.w-269{
  width: 26.9rem;
}

section{
  /* min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}


/* ============ header ============ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  border-bottom: .1rem rgba(0, 0, 0, 0) solid;
  z-index: 999;
  transition: all .5s ease-in-out;
}

header.sticky{
  background-color: #fff;
  border-bottom: .1rem rgba(0, 0, 0, .548) solid;
  padding: 1.5rem 10rem;
}

/* logo */
.brand{
  color: var(--black);
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all 0.5s ease-in-out;
}

.brand:hover{
  color: var(--accent);
}

/* menu */
.menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  color: var(--black);
  /* font-size: 2.4rem; */
  font-weight: 500;
  margin: 0 2rem;
  padding: 0 1rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.menu a:hover{
  color: var(--accent);
}

.menu a::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: .4rem;
  border-radius: 2.5rem;
  background-color: var(--accent);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu a:hover::before{
  transform: scaleX(1);
}

.btn{
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

/* Contact us button */
.btn-2{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 14rem;
  padding: 0 1.7rem;
  background-color: var(--accent);
  color: #fff;
  border: none;
  /* border: .2rem solid #06f; */
  border-radius: 3.2rem;
  cursor: pointer;
  fill: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-2:focus{
  color: #171e29;
}

.btn-2:hover,
.btn-2:active{
  background-color: #3385ff;
  border: #3385ff;
  fill: #06f;
}


/* ============ hero section ============ */
.hero-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
}

.hero-page-headlines{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-slogan{
  align-self: center;
  font-size: 1.6rem;
  font-weight: 300;
  border: .1rem solid var(--black);
  border-radius: 3.2rem;
  padding: 1.6rem 1.8rem;
  margin: 2.4rem 0;
}

#hero-title{
  font-size: 6.4rem;
  width: 134.4rem;
  margin-bottom: 1.4rem;
  transform: translateZ(0);
}

#hero-description{
  width: 121.7rem;
  font-size: 2rem;
  font-weight: 300;
}

#hero-btn{
  margin: 3.2rem 0 5rem;
}

.btn-heropage{
  width: 17rem;
  margin-right: 2rem;
}

.btn-transparent{
  background-color: transparent;
  color: var(--black);
  border: .1rem solid var(--black);
}

.btn-transparent:hover{
  background-color: var(--black);
  color: #fff;
  border: .1rem solid #fff;
}

.hero-page-imgs{
  display: flex;
  align-items: center;
  gap: 2.4rem;
}


/* ============ collaborated brands section ============ */
.collab{
  width: 100%;
  height: 18.6rem;
  display: flex;
  justify-content: center;
  gap: 17rem;
  align-items: center;
  background-color: var(--accent);
  margin-top: 15rem;
}

.simpleParallax{
  border-radius: 3.2rem;
}


/* ============ about section ============ */
.about{
  display: flex;
  justify-content: center;
  gap: 3.4rem;
  margin-top: 15rem;
}

.about-imgs{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 3.2rem;
}

.about-headlines{
  display: flex;
  flex-direction: column;
  /* margin-top: 6rem; */
}

.about-headlines h2{
  font-size: 4.8rem;
  width: 64.1rem;
  margin-bottom: 2.8rem;
}

.about-headlines p{
  font-size: 3.2rem;
  width: 64.7rem;
  opacity: .5;
  margin-bottom: 5rem;
}

.about-projects{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.about-projects div{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-projects div h4{
  font-size: 3.6rem;
  font-weight: 400;
}

.about-projects div hr{
  flex-grow: 1;
  border: .1rem solid var(--accent);
}

.about-projects h5{
  font-size: 4rem;
  font-weight: 600;
}

.about-projects p{
  font-size: 2.4rem;
  font-weight: 600;
  opacity: .5;
}


/* ============ services section ============ */
.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.services h1{
  font-size: 4.8rem;
  font-weight: 400;
}

.services p{
  font-size: 2.4rem;
  opacity: .7;
}

.services-boxes{
  display: flex;
  gap: 2.4rem;
  margin-top: 4.8rem;
}

.services-boxes a{
  text-decoration-line: none;
}

.services-box{
  background-color: var(--gray);
  width: 45rem;
  height: 33rem;
  padding: 3rem;
  border-radius: 3.2rem;
  color: var(--black);
  transition: all 0.5s ease-in-out;
}

.services-box:hover{
  color: #fff;
}

.service-buy:hover{
  background-color: var(--accent);
}

.service-sell:hover{
  background-color: #8955f6;
}

.service-rent:hover{
  background-color: #f68f55;
}

#service-logo{
  font-size: 3.2rem;
}

.services-box h4{
  font-size: 3.2rem;
  font-weight: 500;
  margin: 2.4rem 0 .5rem 0;
}

#arrow-logo{
  font-size: 2.4rem;
  margin-top: 3.2rem;
  position: relative;
  left: 85%;
  opacity: 0;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.services-box:hover #arrow-logo{
  opacity: 1;
  transform: translateX(1rem);
}


/* ============ properties section ============ */
.properties{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

#properties-title{
  font-size: 4.8rem;
}

#properties-title b{
  color: var(--accent);
}

#properties-description{
  font-size: 2.4rem;
  opacity: 0.7;
  margin-top: .8rem;
}

.swiper{
  width: min(90%, 150rem);
  height: auto;
  padding: 1rem;
  margin: 2rem 0;
}
@media screen and (min-width: 400px){
  .swiper{
    padding: 3.4rem;
    margin: 2rem 5rem;
  }
}

.property{
  position: relative;
  min-width: 30rem;
  max-width: 45rem;
  border-radius: 3.2rem;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.27);
  transition: all 0.5s ease-in-out;
}

.property:hover{
  box-shadow: 0 .6rem 1rem rgba(0, 0, 0, .602);
}

.property img{
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 3.2rem;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2.4rem;
  box-sizing: border-box;
  color: #fff;
  border-radius: 3.2rem;
  z-index: 5;
}

.property-stats{
  display: flex;
  align-items: center;
  z-index: 10;
  gap: 5rem;
}

.property-name h6{
  font-size: 2.4rem;
  font-weight: 400;
}

.property-name p{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;
}

.btn-property{
  border: .1rem solid #fff;
  color: #fff;
  font-weight: 300;
}

.swiper-custom-nav{
  width: 100%;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-custom-nav-prev,
.swiper-custom-nav-next{
  background-color: #fff;
  border: .1rem solid var(--black);
  border-radius: 3.2rem;
  padding: .8rem 3.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-nav-prev:hover,
.swiper-custom-nav-next:hover{
  background-color: var(--accent);
  color: #fff;
  border: .1rem solid var(--accent);
}

/* ============ FAQ section ============ */
.faq{
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  margin-top: 10rem;
}

.faq-header{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.faq-header h1{
  font-size: 4.8rem;
  font-weight: 500;
  width: 45rem;
}

.ask-more{
  display: flex;
  gap: 1rem;
  padding: 1rem 1.6rem;
  border: .1rem solid var(--black);
  border-radius: 3.2rem;
  background-color: #fff;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.ask-more:hover{
  background-color: var(--accent);
  color: #fff;
  border: .1rem solid var(--accent);
}

.container{
  width: 100%;
  margin-top: 2rem;
}

.accordion-item{
  background-color: #fff;
  border-radius: .64rem;
  margin-top: 3rem;
}

.accordion-item hr{
  border: .1rem solid rgba(255, 255, 255, 0.5);
}

.accordion-link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background-color: #fff;
  border-bottom: .1rem solid var(--black);
  padding: 1rem 0;
}

.accordion-link h3{
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.accordion-item:hover .accordion-link h3{
  color: var(--accent);
  transform: translateX(.4rem);
}

.accordion-link i{
  color: var(--black);
  padding: .8rem ;
  transition: all 0.5s ease-in-out;
}

.accordion-link ul{
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin-left: 2.5rem;
}

.accordion-link li{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 .1rem .5rem;
}

.accordion-link div{
  display: flex;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background: linear-gradient(-45deg, var(--accent), #89a4f9, #1e4ae8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: max-height 650ms;
}

@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.answer p{
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
}

.accordion-item:target .answer{
  max-width: 32rem;
}


/* ============ testimonial section ============ */
.testimonials{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 70rem; */
  margin-top: 15rem;
}

.testimonials b{
  color: var(--accent);
}

.testimonials h1{
  font-size: 4.8rem;
}

.testimonials h6{
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 70%;
  margin-bottom: 5.4rem;
}

.testimony{
  background-color: var(--gray);
  min-width: 90%;
  max-width: 45rem;
  min-height: 35rem;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.testimony i{
  font-size: 6.4rem;
  margin-bottom: 2.4rem;
}

.testimony p{
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.testimony-people p{
  margin-bottom: 0;
}

.testimony-people span{
  opacity: 0.7;
}

.testimonial-nav{
  justify-content: space-between;
}


/* ============ footer ============ */
.footer{
  display: flex;
  flex-direction: column;
}

.contact-callout{
  height: 28rem;
  background: linear-gradient(-45deg, var(--accent), #89a4f9, #1e4ae8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: all 650ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.contact-callout h4{
  font-size: 3.2rem;
  width: 83.8rem;
  margin-bottom: .4rem;
}

.contact-callout p{
  opacity: .9;
  margin-bottom: 3.2rem;
  font-size: 2rem;
}

.btn-callout{
  background-color: #fff;
  border: .1rem solid #fff;
  color: var(--black);
  transition: all .1s ease-in;
}

.btn-callout:hover{
  background-color: var(--black);
  color: #fff;
}

.bottom-footer{
  padding: 7rem 5rem;
  display: flex;
  justify-content: space-between;
}

.footer-contacts{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-contacts h4{
  font-size: 2.4rem;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.footer-contacts h4:hover{
  color: var(--accent);
}

.footer-contacts div p{
  font-size: 2rem;
}

.footer-nav{
  display: flex;
}

.footer-links-container{
  display: flex;
  gap: 2.4rem;
  margin-right: 4.8rem;
}

.footer-links{
  padding: 0 3rem;
}

.footer-links h4{
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}

.footer-link{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link a{
  font-size: 2rem;
  color: var(--black);
  opacity: .7;
  transition: all .2s ease-in-out;
}

.footer-link a:hover{
  color: var(--accent);
}

.discounts h4{
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.discounts form{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.discounts form input{
  border: none;
  border-bottom: .1rem solid var(--black);
  height: 3rem;
  flex-grow: 1;
}

.discounts form input:focus{
  outline: none;
}

.btn-submit{
  font-size: 1.6rem;
  width: 10rem;
}

.socials{
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
  font-size: 3.2rem;
}

.socials a{
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.socials a:hover{
  color: var(--accent);
}


